body
{
    background-color:#bec7b1;
}
.top-stuff
{
    display: flex;
    flex-direction: column;
    background-color:white;
    align-items: center;
    justify-content: center;
    margin-bottom:10px;
    margin-right:-10px;
    margin-left:-10px;
    margin-top:-10px; 
}

#tpp
{
    background-color:rgb(189, 208, 212);
}

#nav-list
{
    display:flex;
    gap:4px;
    background-color:rgb(255, 115, 0);
    margin-right:-10px;
    margin-left:-10px;
    margin-bottom:10px;
    margin-top:-10px;
    padding-top:10px;
    padding-right:5px;
    padding-bottom:10px;
    justify-content:right;
}

#nav-list a
{
    text-decoration:none;
}



.stuff1 
{
    display:flex;
    flex-direction: column;
    background-color:rgb(184, 179, 179);
    align-items:center;
    justify-content:center;
    margin-bottom:10px;
    /*Used for filling the box sides to the screen*/
    margin-right:-10px;
    margin-left:-10px;
    
}

.stuff1 #sol
{
    padding-right:75px;
    padding-left:75px;
    padding-bottom:5px;
    border-bottom: 2px solid rgb(255, 115, 0);
}

#stuff1p
{
    
    margin-top:-12.5px;
}

/* .circle
{
    
    margin-top:10px;
    border-radius:50px;
    width:50px;
    height:50px;
    border: 2px solid rgb(255,115,0);
} */

.cont
{
    display:flex;
    margin-top:-10px;
    margin-bottom:10px;
    margin-right:-10px;
    margin-left:-10px;
    padding-left:220px;
    background-color:rgb(184, 179, 179);
    flex-direction:row;
    align-items:left;
    gap:150px;
    flex-wrap:wrap;
}

@media only screen and (max-width:683px)
{
    .cont{
        display:flex;
        flex-direction:column;
        align-items:left;
        gap: 10px;
    }
   
}




.stuff2
{
    display:flex;
    flex-direction: column;
    background-color:#ffffff;
    align-items:center;
    justify-content:center;
    margin-bottom:10px;
    margin-right:-10px;
    margin-left:-10px;
}
.stuff2 #ind
{
    padding-right:50px;
    padding-left:50px;
    padding-bottom:5px;
    border-bottom: 2px solid rgb(255, 115, 0);
}
.stuff3
{
    display:flex;
    flex-direction:column;
    background-color:rgb(184, 179, 179);
    align-items:center;
    justify-content:center;
    margin-bottom:10px;
    margin-right:-10px;
    margin-left:-10px;
}

.stuff3 #our
{
    padding-right:50px;
    padding-left:50px;
    padding-bottom:5px;
    border-bottom: 2px solid rgb(255, 115, 0);
}

.stuff4
{
    display:flex;
    flex-direction:column;
    background-color:#ffffff;
    align-items:center;
    justify-content:center;
    margin-bottom:10px;
    margin-right:-10px;
    margin-left:-10px;
}

.stuff4 #ab
{
    padding-right:50px;
    padding-left:50px;
    padding-bottom:5px;
    border-bottom: 2px solid rgb(255, 115, 0);
}

.last-stuff
{
    display:flex;
    flex-direction:column;
    background-color:#9c9da0;
    align-items:center;
    justify-content:center;
    margin-right:-10px;
    margin-left:-10px;
}

.last-stuff #in
{
    padding-right:25px;
    padding-left:25px;
    padding-bottom:5px;
    border-bottom: 2px solid rgb(255, 115, 0);
}