body
{
    background-color:#1032c7;
}
.top-stuff
{
    display: flex;
    background-color:white;
    align-items: center;
    justify-content: center;
    margin-bottom:10px;
    margin-right:-10px;
    margin-left:-10px;
    margin-top:-10px;
}

.stuff1 
{
    display:flex;
    background-color:#b5abab;
    align-items:center;
    justify-content:center;
    margin-bottom:10px;
    /*Used for filling the box sides to the screen*/
    margin-right:-10px;
    margin-left:-10px;
}

.stuff2
{
    display:flex;
    background-color:#999393;
    align-items:center;
    justify-content:center;
    margin-bottom:10px;
    margin-right:-10px;
    margin-left:-10px;
}

.stuff3
{
    display:flex;
    background-color:#b89b9b;
    align-items:center;
    justify-content:center;
    margin-bottom:10px;
    margin-right:-10px;
    margin-left:-10px;
}

.stuff4
{
    display:flex;
    background-color:#999393;
    align-items:center;
    justify-content:center;
    margin-bottom:10px;
    margin-right:-10px;
    margin-left:-10px;
}

.last-stuff
{
    display:flex;
    background-color:aqua;
    align-items:center;
    justify-content:center;
    margin-right:-10px;
    margin-left:-10px;
}

