body
{
    background-color:#6fad1d;
    
}
.top-stuff
{
    display: flex;
    flex-direction: column;
    background-color:white;
    align-items: center;
    justify-content: center;
    margin-bottom:10px;
    margin-right:-10px;
    margin-left:-10px;
    margin-top:-10px; 
}

.top-stuff p1
{
    background-color:rgb(189, 208, 212);
}

#nav-list
{
    display:flex;
    gap:4px;
    background-color:rgb(255, 115, 0);
    margin-right:-10px;
    margin-left:-10px;
    margin-bottom:10px;
    margin-top:-10px;
    padding-top:10px;
    padding-right:5px;
    justify-content:right;
    
}

#nav-list a
{
    text-decoration:none;
}



.stuff1 
{
    display:flex;
    flex-direction: column;
    background-color:white;
    align-items:center;
    justify-content:center;
    margin-bottom:10px;
    /*Used for filling the box sides to the screen*/
    margin-right:-10px;
    margin-left:-10px;
}

.stuff1 #sol
{
    padding-right:100px;
    padding-left:100px;
    padding-bottom:5px;
    border-bottom: 2px solid rgb(255, 115, 0);
}

.stuff1 h2
{
    background-color:mediumaquamarine
}
.stuff2
{
    display:flex;
    flex-direction: column;
    background-color:#ffffff;
    align-items:center;
    justify-content:center;
    margin-bottom:10px;
    margin-right:-10px;
    margin-left:-10px;
}

.stuff3
{
    display:flex;
    flex-direction:column;
    background-color:#ffffff;
    align-items:center;
    justify-content:center;
    margin-bottom:10px;
    margin-right:-10px;
    margin-left:-10px;
}

.stuff4
{
    display:flex;
    flex-direction:column;
    background-color:#ffffff;
    align-items:center;
    justify-content:center;
    margin-bottom:10px;
    margin-right:-10px;
    margin-left:-10px;
}

.last-stuff
{
    display:flex;
    flex-direction:column;
    background-color:#9c9da0;
    align-items:center;
    justify-content:center;
    margin-right:-10px;
    margin-left:-10px;
}