body
{
    background-color:#1032c7;
}
.top-stuff
{
    display: flex;
    flex-direction: column;
    background-color:white;
    align-items: center;
    justify-content: center;
    margin-bottom:10px;
    margin-right:-10px;
    margin-left:-10px;
    margin-top:-10px;
    
    
}

.top-stuff p1
{
    background-color:rgb(189, 208, 212);
}

#nav-list
{
    display:flex;
    gap:4px;
    background-color: orange;
    margin-right:-10px;
    margin-left:-10px;
    margin-bottom:10px;
    margin-top:-10px;
    padding-top:10px;
    padding-right:5px;
    justify-content:right;
    
}

#nav-list a
{
    text-decoration:none;
}



.stuff1 
{
    display:flex;
    flex-direction: column;
    background-color:#b5abab;
    align-items:center;
    justify-content:center;
    margin-bottom:10px;
    /*Used for filling the box sides to the screen*/
    margin-right:-10px;
    margin-left:-10px;
}

.stuff1 h2
{
    background-color: rgb(153, 129, 129);
}

.stuff2
{
    display:flex;
    background-color:#999393;
    align-items:center;
    justify-content:center;
    margin-bottom:10px;
    margin-right:-10px;
    margin-left:-10px;
}

.stuff3
{
    display:flex;
    background-color:#b89b9b;
    align-items:center;
    justify-content:center;
    margin-bottom:10px;
    margin-right:-10px;
    margin-left:-10px;
}

.stuff4
{
    display:flex;
    background-color:#999393;
    align-items:center;
    justify-content:center;
    margin-bottom:10px;
    margin-right:-10px;
    margin-left:-10px;
}

.last-stuff
{
    display:flex;
    background-color:#1032c7;
    align-items:center;
    justify-content:center;
    margin-right:-10px;
    margin-left:-10px;
}
